rect.zoom {
  stroke: steelblue;
  fill-opacity: 0.2;
}

rect.hoverover {
  stroke-width:1px;
  stroke: white;
}

text.hover {
  font-weight: bold;
  font-size: 9px;
}
polyline.hover {
  stroke: black;
  stroke-width: 3px;
}
h1 {
    font-family:sans-serif;
    font-size: 18px;
}
body {
	font-family:sans-serif;
}
.node circle {
  fill: #fff;
    stroke: steelblue;
  stroke-width: 0px;
}

.rootDend {
    fill: none;
  stroke: #AAA;
    stroke-width: 1px;
  shape-rendering: crispEdges;
}
.yDend {
  position: absolute;
  top: 0;
  left: 150px;
  width: 1300px;
  height: 250px;
  z-index: -1;
}
.xDend {
  position: absolute;
  left: 0;
  top: 220px;
  height: 500px;
  width: 200px;
  z-index: -1;
}

.heatmap {
  position: absolute;
  left: 150px;
  top: 220px;
}
.xLabel {
  font-size:4px;
  writing-mode: tb;
}
.yLabel {
  font-size: 4px;
}
.annotations {
  position: absolute;
  left: 150px;
  top: 200px;
}
